RewriteEngine On
DirectoryIndex index.php
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
php_value upload_max_filesize 50M
php_value post_max_size 55M